*{
    overflow-x: hidden;
}

body{
    background-image: url("./subtle-background.png");
}

.unit{
    height:8rem;
    width: 340px;
    background-color: rgba(0,188,212,0.7);
    border:2px solid black;
    margin:3rem;
    border-radius: 7px;
    flex: 0 1 340px;
}

.unit-container{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 500px) and (max-width:780px) {
    .unit{
        flex: 0 1 280px;
        height:13rem;
    }
}

@media only screen and (min-width: 781px) {
    .unit{
        flex: 0 1 400px;
        height:15rem;
    }
}